*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "Querencia";
   src: url(fonts/Querencia\ Regular.otf);
}
header{
    width: 100%;
    height: 150px;
    background-color: rgba(62, 255, 155, 0.371);
}
nav{
    width: 100%;
    height: 90px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
}
.logo img{
    height: 100px;
}
.search-container{
    width: 40%;
    height: 50%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px grey;
     border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
}
.search{
    width: 60px;
    height: 100%;
    background-color: rgba(18, 68, 0, 0.815);
    display: flex;
    align-items: center;
    justify-content: center;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
}
.search i{
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.search-container input{
    width: 90%;
    height: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    text-transform: capitalize;
      border-radius: 5px;
      outline: none;
}
.icons{
    display: flex;
    width: 200px;
    height: 100%;
    /* background-color: rgb(3, 45, 45); */
    align-items: center;
    justify-content: center;
}
.icons i{
    font-size: 21px;
   margin-left: 10px;
   color: rgb(0, 84, 3);
}
.icons p{
    color: black;
    font-family: sans-serif;
}
nav h1{
    font-size: 50px;
      font-family: "Querencia";
      color: rgb(0, 0, 0);
      
      
}
nav span{
    color: green;
}
.logo{
    width: 300px;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons p{
    font-size: 15px;
    margin-left: 7px;
      font-family: "Querencia";
    font-weight: bold;
}
.nav-bar-lower{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 46, 11, 0.775);
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    margin: 10px;
      display: flex;
    align-items: center;
    justify-content: center;
}

li i{
    color: rgb(97, 255, 97);
    font-size: 16px;
    padding: 5px;
}
a{
    text-decoration: none;
    font-size: 19px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
}
.buttons{
    /* width: 250px; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -60px;
}
button{
    padding: 10px 15px;

    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgba(9, 122, 9, 0.63);
    border: none;
    border-radius: 20px;
   margin: 7px;
   font-family: sans-serif;
   text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.686);
}
button i{
    color: white;
    font-size: 18px;
    padding-right: 5px;
}
.catogories{
    width: 220px;
    height: 60%;
    border-radius: 5px;
      color: white;
    background-color: rgba(92, 255, 92, 0.526);
    margin-left: 50px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.catogories p{
    font-family: sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20px;
}
.list{
    width: 50px;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.list i{
    font-size: 20px;
}
section{
    width: 100%;
    height: 80vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
    width: 85%;
    height: 90%;
    /* background-color: aliceblue; */
    display: flex;
}
.image-container .box1{
    width: 70%;
    height: 100%;
    background-color: rgba(151, 255, 117, 0.406);
    display: flex;
    position: relative;
    align-items: center;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.55);
   
}
.image-container .box2{
    width: 30%;
    height: 100%;
    /* background-color: rgb(195, 75, 75); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box1 img{
    height: 500px;
    /* position: absolute; */
    /* rotate: -20deg; */
/* right: -50px; */
top: 0px;
margin-left: -50px;
margin-bottom: 10px;


filter: saturate(1.2);
}
@keyframes bag{
    0%{

    }
    50%{
transform: translateY(-30px);
    }

    100%{

    }
}
.box2-box1{
    width: 90%;
    height: 48%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.801);
}
.box2-box2{
    opacity: 100%;
    animation: image 5s infinite;
     /* width: 100%; */
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /* height: 100%; */
   
    
}
.box2-box1 img{
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100%;
    opacity: 90%;
     /* opacity: 50%; */
}

.text{
    width: 70%;
    height: 80%;
    /* background-color: antiquewhite; */
}
.main-content{
    width: 90%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.main-content h1{
    text-transform: uppercase;
     font-family: "Roboto";
     font-size: 60px;
     font-weight: bolder;
}
@font-face{
    font-family: "Roboto";
   src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
.main-content h2{
      text-transform: uppercase;
     font-family: "Roboto";
     font-size: 40px;
     color: rgb(0, 172, 0);
}
.main-content p{
    color: black;
    font-family: "roboto";
    font-size: 17px;
    width: 85%;
}
.main-content button{
    width: 150px;
    box-shadow: none;
    border-radius: 5px;
    background: none;
    border: 3px solid rgb(0, 186, 0);
    color: rgb(0, 191, 0);
    margin-top: 20px;
}
html{
    overflow-x: hidden;
}
.veg-bag{
    height: 100%;
    width: 400px;
    /* background-color: rgba(55, 255, 0, 0.532); */
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.veg-bag img{
    animation: bag 5s infinite alternate;
}
.second-section{
    width: 85%;
    height: 140px;
    /* background-color: aqua; */
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.second-section-box{
    width: 30%;
    height: 90%;
    /* background-color: black; */
}
.second-section-box .content-box{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.384);
    padding: 20px 20px;
    font-family: sans-serif;
    border-radius: 5px;
}
.content-box p{
    color: black;
    padding-top: 7px;
    width: 100%;
}
.content-box i{
    font-size: 60px;
    padding-right: 10px;
    color: green;
}
.section-text{
    margin-left: 10px;
}
.top-categories{
    width: 85%;
    height: 250px;
    /* background-color: aqua; */
    margin: 0px auto;
}
.top-categories-head{
    width: 100%;
    height: 50px;
    /* background-color: aquamarine; */
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.498); */
    display: flex;
    align-items: flex-end;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: -10px;
}
.top-categories-head h1{
    font-family: "roboto";
    text-transform: uppercase;
    font-weight: 400;

}
.top-cat{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top-cat .box1{
    width: 200px;
    height: 200px;
    background-color: rgba(77, 255, 77, 0.356);
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-categories .box1 img{
   margin: 0px auto;
    height: 180px;
}
.Fresh-vegetable{
    width: 85%;
    height: 500px;
    /* background-color: aquamarine; */
    margin: 80px auto;
}
.veg-box1{
    width: 200px;
    height: 200px;
    background-color: rgba(71, 255, 77, 0.368);
    margin: 10px;
    border-radius: 5px;
}
.veg-boxes{
    width: 100%;
    height: 90%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.veg-box1 img{
     margin: 30px auto;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}